ul {
  padding: 0;
  margin-bottom: 0;
}

li {
  height: 36px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 5px;
  position: relative;
}

li > span {
  display: inline-block;
  width: 200px;
  text-overflow: ellipsis;
}

li > svg {
  position: absolute;
  top: 9px;
  right: 9px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

li > svg:hover {
  fill: white;
}

li > button:active {
  fill: #ffd32e;
}
