.counter-container > span {
  width: 100px;
  display: inline-block;
  font-size: 20px;
}

.counter-container > svg {
  cursor: pointer;
  width: 15px;
  vertical-align: sub;
}

.counter-container > svg:active {
  fill: #fce285;
}
