.counter-container > input {
  width: 100px;
  display: inline-block;
  font-size: 20px;
  text-align:center;
  background: none;
  border: none;
}

.counter-container > svg {
  cursor: pointer;
  width: 15px;
  vertical-align: sub;
}

.counter-container > svg:active {
  fill: #fce285;
}
