.group-component {
  height: 100%;
  overflow: hidden;
}

.group-number {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 0;
}

.group-container {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.group-container:hover {
  background-color: #fce285;
  border: 1px solid #ffd32e;
}

.group-list-container {
  height: calc(100% - 205px);
  margin-top: 10px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.group-list-container > div {
  height: 100%;
  padding-right: 50px;
  margin-right: -50px;
  overflow-y: scroll;
  padding-left: 13px;
}

.group-settings-text {
  padding: 13px 0;
  border-radius: 5px;
}
